@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Course and Category</h1>
    <br />
    <a class="nav-link text-dark bg-primary" asp-area="" asp-controller="Categories" asp-action="Index" >Category</a>
    <br />
    <br />
    <a class="nav-link text-dark   bg-primary" asp-area="" asp-controller="Cources" asp-action="Index">Cource</a>
</div>
